@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Mobile Nav styles */
  .mobile-navbar-shadow {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.06), 0 4px 6px -4px rgb(0 0 0 / 0.06);
  }
  .mobile-nav-shadow {
    box-shadow: -10px 0px 16px rgb(0 0 0 / 0.1);
  }
  .mobile-nav-transition-down {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0ms 150ms;
  }
  .mobile-nav-transition-up {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 0ms;
  }
  .hamburger-icon rect {
    transform-box: fill-box;
  }
  .hamburger-icon-expanded rect:nth-child(odd) {
    transition: translate 150ms cubic-bezier(0.4, 0, 0.2, 1), rotate 150ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    rotate: 45deg;
  }
  .hamburger-icon-expanded rect:nth-child(1) {
    translate: 0px 4px;
  }
  .hamburger-icon-expanded rect:nth-child(3) {
    translate: 0px -4px;
  }
  .hamburger-icon-expanded rect:nth-child(2) {
    transition: rotate 150ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    rotate: -45deg;
  }
  .hamburger-icon-unexpanded rect:nth-child(odd) {
    transition: translate 150ms cubic-bezier(0.4, 0, 0.2, 1) 150ms, rotate 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hamburger-icon-unexpanded rect:nth-child(2) {
    transition: rotate 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .arrow-transition {
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .mobile-nav-overlay-transition {
    transition-property: opacity, display;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-behavior: allow-discrete;
  }
  .mobile-nav-overlay-visible {
    @apply block opacity-60;

    @starting-style {
      opacity: 0;
    }
  }

  .mobile-nav-transition {
    transition-property: transform, display;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-behavior: allow-discrete;
  }
  .mobile-nav-visible {
    @apply flex translate-x-0;

    @starting-style {
      transform: translateX(16rem);
    }
  }

  /* Desktop Nav styles */
  .desktop-nav-container {
    @apply invisible fixed right-0 top-0 h-[1.9375rem] w-[100vh] origin-top-right -rotate-90 items-center justify-start gap-5 pb-3 pl-10 pr-5 lg:h-[2.3125rem] lg:gap-6 lg:pb-4 lg:pl-12 lg:pr-6 xl:h-[2.4375rem] 2xl:h-[3rem] 2xl:gap-7 2xl:pb-5 2xl:pl-16 2xl:pr-8;
    transition-property: transform, display;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-behavior: allow-discrete;
  }
  .desktop-nav-translations {
    @apply flex -translate-x-[1.9375rem] lg:-translate-x-[2.3125rem] xl:-translate-x-[2.4375rem] 2xl:-translate-x-[3rem];

    @starting-style {
      transform: translateX(0px) rotate(-90deg);
    }
  }
  .desktop-navbar-section-animation-fix {
    /* Hack to get around Firefox sub-pixel rendering issues */
    rotate: 0.01deg;
  }

  /* Website body styles */
  .section-group {
    @apply mb-5 flex flex-col gap-5 lg:mb-6 lg:gap-6 xl:mb-7 xl:gap-7 2xl:mb-8 2xl:gap-8;
  }
  .hidden-section-group-bottom-margin {
    @apply mb-10 lg:mb-12 xl:mb-14 2xl:mb-16;
  }
  .section-title {
    @apply mb-3 font-raleway text-3xl font-extrabold text-off-black-900 lg:mb-4 lg:text-4xl xl:mb-5 2xl:text-5xl dark:text-white;
  }
  .section-header {
    @apply text-xs font-bold text-off-black-900 lg:text-sm xl:text-base 2xl:text-lg dark:text-dark-white-100;
  }
  .section-subheader-container {
    @apply mt-1 flex flex-row items-center gap-2 text-3xs font-semibold text-off-black-600 lg:text-2xs xl:mt-1.5 xl:gap-2.5 xl:text-xs 2xl:mt-2 2xl:gap-3 2xl:text-base dark:text-dark-white-300;
  }
  .section-date {
    @apply truncate pr-1;
  }
  .section-tag-container {
    @apply my-2 flex flex-row flex-wrap items-center gap-2 xl:my-2.5 xl:gap-2.5 2xl:my-3 2xl:gap-3;
  }
  .section-tag {
    @apply rounded-full bg-off-white-900 px-2 py-0.5 text-center text-3xs font-normal text-off-white-100 lg:px-2.5 lg:text-2xs xl:py-1 xl:text-xs 2xl:px-3 2xl:text-sm dark:bg-light-black-800 dark:text-light-black-100;
  }
  .section-paragraph {
    @apply text-2xs font-medium text-off-black-800 lg:text-xs lg:leading-normal xl:text-sm 2xl:text-base dark:text-light-black-100;
  }
  .section-link-text {
    @apply inline font-bold outline-none hover:text-light-red focus-visible:underline lg:focus-visible:decoration-2 xl:focus-visible:underline-offset-2 dark:hover:text-white;
  }
  .section-wrapper:hover > .section-container {
    transform: translateY(-0.25rem);
  }
  .section-wrapper:focus-visible > .section-container {
    transform: translateY(-0.25rem);
  }
  .section-wrapper:active > .section-container {
    transform: translateY(0rem);
  }
  @media (min-width: 1280px) {
    .section-wrapper:hover > .section-container {
      transform: translateY(-0.375rem);
    }
    .section-wrapper:focus-visible > .section-container {
      transform: translateY(-0.375rem);
    }
    .section-wrapper:active > .section-container {
      transform: translateY(0rem);
    }
  }
  .section-wrapper:hover > .hover-chevron {
    opacity: 100;
    transform: translateY(1rem);
  }
  .section-wrapper:hover > .expanded-hover-chevron {
    opacity: 100;
    transform: translateY(-1rem);
  }
  .hover-chevron {
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .expanded-hover-chevron {
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  /* Expanded section container styles */
  .section-showcase-container {
    display: grid;
    grid-template-rows: 0fr;
    @apply mt-0;

    transition-property: grid-template-rows, margin-top, display;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-behavior: allow-discrete;
  }
  .section-showcase-expanded {
    grid-template-rows: 1fr;
    @apply mt-4 xl:mt-5 2xl:mt-6;

    @starting-style {
      grid-template-rows: 0fr;
      margin-top: 0px;
    }
  }

  .github-link-button {
    @apply flex w-fit flex-row items-center gap-1.5 rounded bg-off-black-900 py-1.5 pl-2 outline-none hover:bg-light-red focus-visible:bg-light-red lg:gap-2 lg:py-2 lg:pl-3 dark:bg-dark-white-100 dark:hover:bg-white dark:focus-visible:bg-white;
  }
  .github-link-button svg {
    @apply h-3 w-3 fill-off-white-100 lg:h-3.5 lg:w-3.5 xl:h-4 xl:w-4 dark:fill-light-black-900;
  }
  .github-link-button span {
    @apply pr-3 text-2xs font-semibold text-off-white-100 lg:pr-4 lg:text-xs xl:text-sm dark:text-light-black-900;
  }

  .section-header-hidden {
    @apply mb-2 mt-4 text-xs font-semibold text-off-black-900 lg:text-sm xl:mt-5 xl:text-base 2xl:mt-6 2xl:text-lg dark:text-dark-white-100;
  }

  .section-video-player-iframe {
    @apply absolute left-0 top-0 h-full w-full rounded;
  }
  .section-video-player-container {
    @apply relative mb-0 w-full rounded border-2 border-off-white-900 bg-off-white-900 pb-[56.25%] lg:mb-1 2xl:mb-2 dark:border-light-black-100 dark:bg-light-black-100;
  }

  .section-screenshots-grid-container {
    @apply grid grid-cols-3 gap-4 lg:gap-5 2xl:gap-8;
  }
  .section-screenshot-container {
    @apply rounded bg-off-white-900 dark:bg-light-black-100;
  }
  .section-screenshot {
    @apply rounded border-2 border-off-white-900 dark:border-light-black-100;
  }

  /* Hidden subsection styles */
  .hide-subsection-button {
    @apply mx-auto mb-5 flex flex-row items-center justify-center gap-2 outline-none focus-visible:rounded-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-[6px] focus-visible:outline-off-white-900 aria-expanded:focus-visible:outline-light-red lg:mb-6 lg:gap-2.5 xl:mb-7 xl:gap-3 xl:focus-visible:outline-[3px] xl:focus-visible:outline-offset-[8px] 2xl:mb-8 2xl:gap-4 2xl:focus-visible:outline-offset-[10px] dark:focus-visible:outline-light-black-100 dark:aria-expanded:focus-visible:outline-white;
  }
  .hide-subsection-button svg {
    @apply h-3 w-3 lg:h-4 lg:w-4 xl:h-5 xl:w-5;
  }
  .hide-subsection-button span {
    @apply text-xs font-semibold lg:text-sm xl:text-base 2xl:text-lg;
  }

  /* Education section styles */
  .awards-row-container {
    @apply flex flex-row items-start justify-between;
  }
  .awards-row-container > :first-child {
    @apply text-2xs font-medium italic text-off-black-800 lg:text-xs xl:text-sm 2xl:text-base dark:text-light-black-100;
  }
  .awards-row-container > :last-child {
    @apply ml-1 mr-0.5 shrink-0 text-2xs font-semibold italic text-off-black-800 lg:text-xs xl:text-sm 2xl:text-base dark:text-light-black-100;
  }

  /* Technical Skills section styles */
  .skills-table-row-even {
    @apply bg-light-black-900 dark:bg-light-black-850;
  }
  .skills-table-row-odd {
    @apply bg-light-black-800 dark:bg-light-black-825;
  }
  .skills-table-head-cell {
    @apply whitespace-nowrap rounded-l-lg pl-2.5 pr-2.5 text-left text-xs font-semibold text-off-white-100 lg:pl-3 lg:pr-3 lg:text-sm xl:rounded-l-xl xl:pl-4 xl:pr-4 xl:text-base 2xl:pr-5 2xl:text-lg;
  }
  .skills-table-data-cell {
    @apply rounded-r-lg py-1.5 pr-1.5 xl:rounded-r-xl xl:py-2 xl:pr-2;
  }
  .skills-table-skill-list-container {
    @apply flex flex-row flex-wrap gap-1.5 xl:gap-2;
  }
  .skills-table-skill-list-container li {
    @apply line-clamp-1 rounded-full border border-off-white-100 px-1.5 py-0.5 text-3xs font-normal text-off-white-100 selection:text-light-black-900 lg:px-2 lg:text-2xs xl:px-2.5 xl:py-1 xl:text-xs 2xl:px-3 2xl:text-sm;
  }

  /* Styling for a dot */
  .dot {
    @apply h-[2px] w-[2px] rounded-full bg-off-black-600 xl:h-[3px] xl:w-[3px] 2xl:h-1 2xl:w-1 dark:bg-dark-white-300;
  }

  /* Hide elements at vertically squished aspect ratios */
  .hide-squished {
    @apply hidden md:flex;
  }

  @media (min-width: 768px) and (max-height: 440px) {
    .hide-squished {
      display: none;
    }
  }

  @media (min-width: 1024px) and (max-height: 460px) {
    .hide-squished {
      display: none;
    }
  }

  @media (min-width: 1280px) and (max-height: 460px) {
    .hide-squished {
      display: none;
    }
  }

  @media (min-width: 1536px) and (max-height: 530px) {
    .hide-squished {
      display: none;
    }
  }

  .hide-squished-nav {
    @apply flex;
  }
  @media (min-width: 768px) and (max-height: 440px) {
    .hide-squished-nav {
      display: none;
    }
  }

  @media (min-width: 1024px) and (max-height: 500px) {
    .hide-squished-nav {
      display: none;
    }
  }

  @media (min-width: 1280px) and (max-height: 540px) {
    .hide-squished-nav {
      display: none;
    }
  }

  @media (min-width: 1536px) and (max-height: 650px) {
    .hide-squished-nav {
      display: none;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
